@font-face {
    font-family: 'fontRegular';
    src: url('./fonts/jakarta/regular.ttf');
}

@font-face {
    font-family: 'fontMedium';
    src: url('./fonts/jakarta/medium.ttf');
}

@font-face {
    font-family: 'fontLight';
    src: url('./fonts/jakarta/light.ttf');
}

@font-face {
    font-family: 'fontBold';
    src: url('./fonts/jakarta/bold.ttf');
}

@font-face {
    font-family: 'fontExtraB';
    src: url('./fonts/jakarta/extraBold.ttf');
}

@font-face {
    font-family: 'fontDGBold';
    src: url('./fonts/dharmaGothic/bold.ttf');
}

@font-face {
    font-family: 'fontDGEBold';
    src: url('./fonts/dharmaGothic/extraBold.ttf');
}

.fontRegular,
.font-regular {
    font-family: "fontRegular";
}

.fontMedium,
.font-medium {
    font-family: "fontMedium";
}

.fontLight,
.font-light {
    font-family: "fontLight";
}

.fontBold,
.font-bold {
    font-family: "fontBold";
}

.fontExtraB,
.font-extra-bold {
    font-family: "fontExtraB";
}

.fontDGBold {
    font-family: "fontDGBold";
}

.fontDGEBold {
    font-family: "fontDGEBold";
}