@tailwind base;
@tailwind components;
@tailwind utilities;

// Basics
@import "./font.scss";

// Basics
@import "./Basics.scss";

// Header
@import "./header.scss";

// Footer
@import "./footer.scss";

// Blocks
@import "./blocks.scss";